[submodule "roq-cmake"]
	path = cmake/roq-cmake
	url = http://localhost:8080/gogs/roq-trading/roq-cmake.git
	ignore = dirty
[submodule "roq-autogen-2"]
	path = autogen/roq-autogen-2
	url = http://localhost:8080/gogs/roq-trading/roq-autogen-2.git
	ignore = dirty
[submodule "roq-scripts"]
	path = scripts/roq-scripts
	url = http://localhost:8080/gogs/roq-trading/roq-scripts.git
	ignore = dirty
